<div class="container mt-3 ">
    <form *ngIf="userform" [formGroup]="userform" class="p-3 " (submit)="onsubmit()" >
        <h1 class="TITRE mb-3 text-warning text-center">REGISTER</h1>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input type="text" autofocus formControlName="fullname" class="form-control mb-3 text-center"
                        placeholder="USER NAME"
                        [ngClass]="{'is-invalid':submitted && userform.get('fullname')?.errors ,'is-valid':submitted && !userform.get('fullname')?.errors}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="number" formControlName="numtel" class="form-control mb-3 text-center"
                        placeholder="NUMERO TELEPHONE"
                        [ngClass]="{'is-invalid':submitted && userform.get('numtel')?.errors ,'is-valid':submitted && !userform.get('numtel')?.errors}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input type="text" formControlName="country" class="form-control mb-3 text-center"
                        placeholder="COUNTRY"
                        [ngClass]="{'is-invalid':submitted && userform.get('country')?.errors ,'is-valid':submitted && !userform.get('country')?.errors}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="text" formControlName="email" class="form-control mb-3 text-center" placeholder="EMAIL"
                    [ngClass]="{'is-invalid':submitted && userform.get('email')?.errors ,'is-valid':submitted && !userform.get('email')?.errors}">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input type="password" formControlName="password" class="form-control mb-3 text-center"
                        placeholder="PASSWORD"
                        [ngClass]="{'is-invalid':submitted && userform.get('password')?.errors ,'is-valid':submitted && !userform.get('password')?.errors}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="password" formControlName="confirmpassword" class="form-control mb-3 text-center"
                        placeholder="ONFIRM PASSWORD"
                        [ngClass]="{'is-invalid':submitted && userform.get('confirmpassword')?.errors ,'is-valid':submitted && !userform.get('confirmpassword')?.errors}">
                </div>
            </div>
        </div>
        <button class="btn btn-warning mt-3 w-100" type="submit"> REGISTER</button>
    </form>
</div>