<div class="container mt-3 ">
    <form *ngIf="lessonform" [formGroup]="lessonform" class="p-3 " (submit)="onsubmit()">
        <h1 class="TITRE mb-3 text-warning text-center">ADD LESSON</h1>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input type="text" autofocus formControlName="title" class="form-control mb-3 text-center"
                        placeholder="LESSON TITLE"
                        [ngClass]="{'is-invalid':submitted && lessonform.get('title')?.errors ,'is-valid':submitted && !lessonform.get('title')?.errors}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="text" formControlName="urlLesson" class="form-control mb-3 text-center"
                        placeholder="URL LESSON"
                        [ngClass]="{'is-invalid':submitted && lessonform.get('urlLesson')?.errors ,'is-valid':submitted && !lessonform.get('urlLesson')?.errors}">
                </div>
            </div>
        </div>
        <div class="row">
             <div class="col">
                <div class="form-group">
                    <input type="text" formControlName="description" class="form-control mb-3 text-center"
                        placeholder="DESCRIPTION"
                        [ngClass]="{'is-invalid':submitted && lessonform.get('description')?.errors ,'is-valid':submitted && !lessonform.get('description')?.errors}">
                </div>
            </div>
        </div>
        
        <button class="btn btn-warning mt-3 w-100" type="submit"> ADD </button>
    </form>
</div>
