<div class="container">
    <div class="login">
        <h1 class="text-warning">LOG IN </h1>
        <form *ngIf="loginform" [formGroup]="loginform" (submit)="login()" autocomplete="on">
            <div class="form-group">
                <input formControlName="username" type="text" class="form-control" placeholder="EMAIL ADRESSE"
                [ngClass]="{'is-invalid':submitted && loginform.get('username')?.errors ,'is-valid':submitted && !loginform.get('username')?.errors}">
            </div>
            <div class="form-group">
                <input formControlName="password" type="password" class="form-control" placeholder="PASSWORD"
                [ngClass]="{'is-invalid':submitted && loginform.get('password')?.errors ,'is-valid':submitted && !loginform.get('password')?.errors}">
            </div>
            <button class="btn btn-warning w-100 ms-2" type="submit"> LOG IN </button>
            <button class="btn  w-100 ms-2 mt-1" type="submit" style="background-color: blue; color: white;"> LOG WITH FACEBOOK </button>


            <button class="btn btn-link"  routerLink="/register">create new account  ...</button>
        </form>
    </div>
</div>