<div class="container">

  <section class="section1">
    <div class="name">
      <h3 class="span1">HELLO, MY NAME IS</h3><br>
      <h1 class="titre">WASSEL AGUECH</h1><br>

      <h4>اكاديمية واصل تك لتعليم البرمجة</h4>
      <br>
      <a href="https://www.facebook.com/wasselblog"> <img class="ms-5" src="../assets/icon/facebook.png" width="30px"></a>
      <a href="https://www.instagram.com/wassel_aguech/"><img class="ms-5" src="../assets/icon/instagram.png" width="30px"></a>
      <a href="https://www.youtube.com/channel/UCoFBqMHbsWAFdVbv7wmZBcw"><img class="ms-5" src="../assets/icon/youtube.png" width="30px"></a>
    </div>
    <div class="image">
      <img src="../assets/icon/banner.jpg" width="500px">
    </div>
  </section>

  <h1 class=" text-center text-lg mb-5" style="font-size: 70px;">BOOTCAMP </h1>

  <section class="section2 mb-5">

    <div class="carre">

      <div class="carre1">

        <img src="../assets/icon/facebook.png" alt="">
        <h1>FULL Stack Web</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, repellat. Suscipit labore odio
          nemo vitae?</p>
      </div>

      <div class="carre3 ms-5">
        <img src="../assets/icon/youtube.png" alt="">
        <h1>Data Science</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quia, molestias numquam voluptas
          labore esse!</p>
      </div>



    </div>

  </section>

  <!--  2 eme section -->
  <h1 class=" text-center text-lg " style="font-size: 70px;">QUIZZZZ </h1>

  <section class="my-5">
    <div class="row">
      <div class="col-12 text-center">
        <img src="../assets/html5.png" class="imghtml" alt="">
      </div>
    </div>
    <div class="row text-center my-2 justify-content-center align-items-center">
      <div class="col-5  ">
        <img src="../assets/js.png" class="imgjs" alt="">
      </div>
      <div class="col-5 ms-1">
        <img src="../assets/bootstrap.png" class="imgboostrap" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <img src="../assets/java.png" class="imgjava" alt="">

      </div>
    </div>
  </section>






  <!--  2 eme section -->
  <h1 class=" text-center text-lg " style="font-size: 70px;">INFO </h1>

  <section class="planning my-5 bg-warning d-flex justify-content-around align-items-center">

    <div>
      <img src="../assets/icon/homme.png" width="500px" height="600px" alt="">
    </div>
    <div>
      <h1>=======></h1>
    </div>
    <div class="text-center text-dark my-5">
      <h1>WASSEL TECH</h1>
      <p>wassel aguech first web site using spring boot and angular</p>
      <p>wassel aguech first web site using spring boot and angular</p>
      <p>wassel aguech first web site using spring boot and angular</p>
      <p>wassel aguech first web site using spring boot and angular</p>
      <p>wassel aguech first web site using spring boot and angular</p>
      <p>wassel aguech first web site using spring boot and angular</p>
      <p>wassel aguech first web site using spring boot and angular</p>
      <p>wassel aguech first web site using spring boot and angular</p>
      <p>wassel aguech first web site using spring boot and angular</p>
      <p>wassel aguech first web site using spring boot and angular</p>
      <p>wassel aguech first web site using spring boot and angular</p>
      <p>wassel aguech first web site using spring boot and angular</p>
      <p>wassel aguech first web site using spring boot and angular</p>
      <p>wassel aguech first web site using spring boot and angular</p>
      <p>wassel aguech first web site using spring boot and angular</p>
      <p>wassel aguech first web site using spring boot and angular</p>


    </div>
  </section>
  <!--   3 eme section -->

  <section class="courses mt-5">
    <h1 class=" text-center text-lg mb-5" style="font-size: 70px;">COURS </h1>

    <div class="row justify-content-around ">

      <div class="col-3 text-center">
        <p>le html est une language de balisage por cree le plan de site web etuliser dans la plupart du site web du
          monde pour devenir un developpeur web il foua obligatoirement pratiquer cette langue de programmation </p>
        <a routerLink=""><img src="../assets/icon/html.png" width="100px" alt=""></a>
        <h3 class="pt-2">HTML</h3>
      </div>

      <div class="col-3 text-center">
        <p>le html est une language de balisage por cree le plan de site web etuliser dans la plupart du site web du
          monde pour devenir un developpeur web il foua obligatoirement pratiquer cette langue de programmation</p>
        <a href=""><img src="../assets/icon/css.png" width="100px" alt=""></a>
        <h3 class="pt-2">CSS</h3>

      </div>

      <div class="col-3 text-center">
        <p>le html est une language de balisage por cree le plan de site web etuliser dans la plupart du site web du
          monde pour devenir un developpeur web il foua obligatoirement pratiquer cette langue de programmation</p>
        <a href=""><img src="../assets/icon/java.png" width="100px" alt=""></a>
        <h3 class="pt-2">JAVA</h3>
      </div>
    </div>
    <br><br><br>

    <div class="row justify-content-around">

      <div class="col-3 text-center">
        <p>le html est une language de balisage por cree le plan de site web etuliser dans la plupart du site web du
          monde pour devenir un developpeur web il foua obligatoirement pratiquer cette langue de programmation </p>
        <a href=""><img src="../assets/icon/js.png" width="100px" alt=""></a>
        <h3 class="pt-2">HTML</h3>
      </div>

      <div class="col-3 text-center">
        <p>le html est une language de balisage por cree le plan de site web etuliser dans la plupart du site web du
          monde pour devenir un developpeur web il foua obligatoirement pratiquer cette langue de programmation</p>
        <a href=""><img src="../assets/icon/python.png" width="100px" alt=""></a>
        <h3 class="pt-2">CSS</h3>

      </div>

      <div class="col-3 text-center">
        <p>le html est une language de balisage por cree le plan de site web etuliser dans la plupart du site web du
          monde pour devenir un developpeur web il foua obligatoirement pratiquer cette langue de programmation</p>
        <a href=""><img src="../assets/icon/blog.png" width="100px" alt=""></a>
        <h3 class="pt-2">JAVA</h3>
      </div>
    </div>

    <br><br><br>

    <div class="row justify-content-around">

      <div class="col-3 text-center">
        <p>le html est une language de balisage por cree le plan de site web etuliser dans la plupart du site web du
          monde pour devenir un developpeur web il foua obligatoirement pratiquer cette langue de programmation </p>
        <a href=""><img src="../assets/icon/html.png" width="100px" alt=""></a>
        <h3 class="pt-2">HTML</h3>
      </div>

      <div class="col-3 text-center">
        <p>le html est une language de balisage por cree le plan de site web etuliser dans la plupart du site web du
          monde pour devenir un developpeur web il foua obligatoirement pratiquer cette langue de programmation</p>
        <a href=""><img src="../assets/icon/java.png" width="100px" alt=""></a>
        <h3 class="pt-2">CSS</h3>

      </div>

      <div class="col-3 text-center">
        <p>le html est une language de balisage por cree le plan de site web etuliser dans la plupart du site web du
          monde pour devenir un developpeur web il foua obligatoirement pratiquer cette langue de programmation</p>
        <a href=""><img src="../assets/icon/java.png" width="100px" alt=""></a>
        <h3 class="pt-2">JAVA</h3>
      </div>
    </div>
  </section>

  <br><br><br>
  <h1 class=" text-center text-lg mb-5" style="font-size: 70px;">INFO </h1>

  <section class="about">

    <div class="parent">
      <h1> ما هي واصل تك</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam id quidem enim recusandae necessitatibus
        dolores vero explicabo, perferendis ad voluptate minus mollitia rem facere iusto nam suscipit commodi quo nihil?
      </p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam id quidem enim recusandae necessitatibus
        dolores vero explicabo, perferendis ad voluptate minus mollitia rem facere iusto nam suscipit commodi quo nihil?
      </p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam id quidem enim recusandae necessitatibus
        dolores vero explicabo, perferendis ad voluptate minus mollitia rem facere iusto nam suscipit commodi quo nihil?
      </p>

    </div>
    <div class="child  text-center">
      <h1>WASSEL TECH</h1>
      <h3>تخصصات برمجية عديدة</h3>
      <p>تقدم اكاديميةواصل تك تخصصاتبرمجية عديدةو يمكن تصفح الاكاديمية و اختيار التخصص المناسب لك و دراسته بالمجان</p>
    </div>

  </section>




</div>












<div class="text-center">
  <button class="btn btn-warning btn-lg btnadmin" routerLink="/admin"> ADMIN DASHBORD</button>
</div>